html {
  font-size: 14px;
}

:root {
  --main-font: 'Rubik', sans-serif;  /* עדכון לפונט Rubik */
  /* --primary-color: #f68b1e;  */
  /* --text-color: #1a1a1a; */
  /* --background-color: #f9f9f9; */
  --card-bg: #ffffff;
  /* --accent-color: #333333; */
  --font-family: 'Rubik', sans-serif;
 
}

label {
  display: block;     
  text-align: right;    
  width: 90%;         
}

body {
  font-family: var(--main-font); 
  margin: 0;
  padding: 0;
  /* background-color: var(--background-color); */
  color: var(--text-color);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

button.p-button {
  border: none;
  color: black;
}

button.p-button:hover {
  filter: brightness(1.05);
}

