/* עוטף את כל המסך וממרכז את התוכן */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  padding: 1rem;
  box-sizing: border-box;
  /* margin: 20px; */
}

/* הטופס עצמו */
.login-form {
  background-color: rgb(225, 225, 225);
  width: 100%;
  /* max-width: 1200px; */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* למובייל – מערך אנכי */
@media (max-width: 768px) {
  .login-form .flex {
    flex-direction: column !important;
  }

  .login-divider {
    display: none !important;
  }
}
