.stepper-container {
    max-width: 600px;
    margin: auto;
    direction: rtl;
    white-space: 12;
  }
  
  .p-card {
    border-radius: 1rem;
  }
  
  .stepper-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stepper-buttons button {
    min-width: 100px;
  }
  
  
  .stepper-buttons .p-button-secondary {
    margin-left: auto; 
  }
  
  .stepper-buttons .p-button-primary {
    margin-right: auto; 
  }
  
  .dialog-copy-label {
    text-align: center;
    font-size: 20px;
  }

  .dialog-copy-row{
    font-size: 20px;
    width: 100%;
  }

  .dialog-copy-btn{
    width: 2rem;
    height: 2rem;
    border-radius: 15px;
    background-color: antiquewhite;
  }